body
{
    padding: 0;
    margin: 0;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
}

a
{
    text-decoration: none;
}


.main-body
{
    color: #ffffff;

    background-color: #000000;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url("../img/Layer.jpg");
}

.other-body
{
    color: #000000;

    background-color: #f4f1ee;
    background-position: top center;
    background-image: url("../img/background_other.jpg");
}

.main-header
{
    background-color: black;
    color: #ffffff;
}

.main-navigation a,
.navigation a
{
    color: #ffffff;
}
