body
{
    padding: 0;
    margin: 0;
    font-family: "PT Sans Narrow", "Arial", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 24px;
}

a
{
    text-decoration: none;
}

img
{
    max-width: 100%;
    height: auto;
}

.visuallity-hidden:not(:focus):not(:active),
input[type="checkbox"].visuallity-hidden,
input[type="radio"].visuallity-hidden
{
    display: none;
}

.main-body
{
    color: #ffffff;
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: top center;
    background-image: url("../img/Layer.jpg");
}

.other-body
{
    color: #000000;
    background-color: #f4f1ee;
    background-position: top center;
    background-image: url("../img/background_other.jpg");
}

.header
{

    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
}


.navigation a
{
    color: #ffffff;
}

.site-navigation,
.user-navigation
{
    list-style: none;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:focus,
.user-navigation a:hover
{
    background-color: #242424;
}

.navigation li
{
    display: inline;
}

.advantages-list
{
    text-align: center;
    list-style: none;
}

.news-photos,
.contact-order
{
    color: #000000;

    background-color: #f4f1ee;

    background-image:
            url("../img/line.png"),
            url("../img/background_other.jpg");

    background-repeat:
            no-repeat,
            repeat;
    background-position:
            center,
            0 0;

}


.main-advantages h3
{
    font-size: 30px;
    line-height: 42px;
}

.news-photos h2,
.contact-order h2
{
    font-size: 30px;
    line-height: 42px;
    margin: 0;
    margin-bottom: 25px;
}

.main-news p
{
    margin: 0;
}

.main-news
{
    margin: 0;
    margin-bottom: 25px;
    padding: 0;

    list-style: none;
}

.news-item
{
    margin-bottom: 25px;
}

.gallery-content
{
    background-color: #cccccc;
    border:7px solid #ffffff;

    height: 164px;
    margin: 0;
}

.gallery-content img
{
    width: 286px;
    height: 164px;
}



.main-news time
{
    text-transform: none;
}


.contact-order h2
{
    font-size: 30px;
    line-height: 42px;
}

.button
{
    display: inline-block;
    padding: 10px 30px;
    margin-right: 16px;

    font: inherit;
    color: #ffffff;
    background-color: #000000;
    border: none;
    text-align: center;
    vertical-align: middle;
}

.button.disabled,
.button:disabled
{
    cursor: default;
    opacity: 0.5;
    background-color: #000000;
}

.button:hover,
.button:focus,
.button:active
{
    background-color: #663d15;
}

.gallery-contaner
{
    position: relative;
    height: 260px;
}

.gallery-button
{
    box-sizing: border-box;
    width: 140px;
    margin: 0;
    position: absolute;
    bottom: 0;

}

.gallery-button-back
{
    left: 0;
}

.gallery-button-next
{
    right: 0;
}

.main-order input
{
    font: inherit;
    background-color: transparent;
    border: 2px solid #000000;
}

.main-order input:focus
{
    border-color: #663d15;
}

.main-footer
{
    color: #ffffff;
    background-color: #cccccc;
    background-image: url("../img/footer.png");
}

.main-footer a
{
    list-style: none;
    color: #ffffff;

}

.footer-address a
{
    text-decoration: underline;
}

.footer-address a:hover,
.footer-address a:focus
{
    text-decoration: none;
}

.footer-social li
{
    list-style: none;
}

.footer-social b
{
    display: block;
    margin-bottom: 15px;
}

.social
{
    background-color: #000000;
}



.footer-social
{
    text-align: center;
}

.footer-copyright
{
    text-align: center;
}
.footer-copyright b
{
    display: block;

    margin-bottom: 15px;
}

.footer-copyright .button
{
    display: block;
    margin-right: 0;
}

.user-login
{
    color: #000000;

    background-color: #f4f1ee;
    background-position: top center;
    background-image: url("../img/background_other.jpg");
    /*background-position: 0 0;*/
}

.user-login h2
{
    font-size: 30px;
    line-height: 42px;
}

.user-login input
{
    font: inherit;
    border: 2px solid #000000;
    background-color: transparent;
}

.user-login input:focus
{
    border-color: #663d15;
}

.map
{
    color: #000000;
    background-color: #ffffff;
    background-position: top center;

}

.main-ligin a
{
    color: #000000;
    text-decoration: underline;
}

.filter-makers:hover,
.filter-makers:focus,
.filter-groups:hover,
.filter-groups :focus
{
    color: #663d15;
}

.restore:hover,
.restore:focus
{
    text-decoration: none;
}


/**********************************************   GRIDs    ********************************************************/

.container
{
    width: 940px;
    margin: 0 auto;

}

.header
{
    margin-bottom: 75px;
}

.main-navigation-wropper
{
    display: flex;

    width: 100%;
    background-color: black;
    margin-bottom: 60px;
}

.main-navigation-wropper .container
{
    display: flex;
    justify-content: space-between;
}

.navigation
{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-logo
{
    order:2;
    width:371px;
    height: 155px;
}

.site-navigation
{
    padding: 0;
    margin: 0;
    list-style: none;
    width: 620px;
    display: flex;
    flex-wrap: wrap;
}

.user-navigation
{
    padding: 0;
    margin: 0;
    list-style: none;
    max-width:140px;
    display: flex;
    flex-wrap: wrap;
}

.site-navigation a,
.user-navigation a
{
    display: block;
    padding:25px 20px ;
}

.user-navigation .login-link
{
    padding-left: 50px;
    position: relative;
}

.login-link::before
{
    content: "";
    position: absolute;
    top:27px;
    left: 24px;

    width: 16px;
    height: 18px;

    background-image: url("../img/login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before
{
    opacity: 1;
}

.advantages-list
{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.advantages-list h3
{
    margin: 0;
    margin-bottom: 60px;

    font-size: 30px;
    line-height: 42px;

    position: relative;
}

.advantages-list h3::after
{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;

    background-color: white;

    bottom: -30px;
    left: 50%;
    margin-left: -10px;

    transform: rotate(45deg);
}

.advantages-list p
{
    margin: 0 10px;
}

.advantages
{
    width: 300px;
}

.main-advantages
{
    margin-bottom: 80px;
}

.news-photos
{
    padding: 50px 80px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.main-news
{
   width: 380px;
}

.main-foto
{
    width: 300px;
}

.main-contact-information
{
    width: 380px;
}

.main-contact-information p
{
    margin: 0;
    margin-bottom: 25px;
}

.main-order
{
    width: 300px;
    margin: 0;
    margin-bottom: 15px;
}

.contact-order
{
    padding: 50px 80px;
    display: flex;
    justify-content: space-between;
}

.main-form
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-form-item
{
    width: 140px;
    margin: 0;
    margin-bottom: 10px;
}

.main-form-item label
{
    display: block;
    margin-bottom: 9px;
    margin-left: 15px;
}

.main-form-item input
{
    box-sizing: border-box;
    width: 140px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 7px;

}

.main-form .button
{

    width: 100%;

    margin-top: 10px;
    margin-right: 0;
}

.main-footer
{
    margin-top: 65px;
}

.footer-address
{
    margin: 0;
    width: 320px;
    margin-right: 80px;
}

.footer-social
{
    width: 140px;
    position: relative;
}

.footer-social ul
{
    display: flex;
    width: 141px;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;
}

.social
{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    background-color: black;
}

.social:hover,
.social:focus,
.social:active
{

    background-color: white;
}

.social-vk:hover::after,
.social-vk:focus::after,
.social-vk:active::after
{
    content: "";
    position: absolute;
    bottom: 14px;
    left: auto;
    right: auto;
    background-color: white;
    background: url("../img/vk2.png") no-repeat center center;
    width: 43px;
    height: 43px;
    z-index: 100;
}


.footer-copyright
{
    margin: 0;
    width: 150px;
    margin-left: auto;
}

.main-footer .container
{
    padding: 65px 0;
    display: flex;
}

.modal
{
    position: fixed;
    color: #000000;
    background-color: #f4f1ee;
    background-position: top center;
    background-image: url("../img/background_other.jpg");
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    display: none;
}

.user-login
{

    width: 300px;
    padding: 50px 80px;

    top: 120px;
    left: 50%;
    margin-left: -230px;
}

.user-login h2
{
    margin: 0;
    margin-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
}

.user-login-description
{
    margin: 0;
    margin-bottom: 10px;
}

.user-login p
{
    margin: 0;
    margin-bottom: 10px;
}

.user-login input[type="text"],
.user-login input[type="password"]
{
    font: inherit;
    color: black;
    text-transform: uppercase;

    box-sizing: border-box;
    width: 300px;
    padding: 10px 15px;
    padding-right: 40px;
    border: 2px solid #000000;
}

.user-login input:focus
{
    border-color: #663d15;
}

.login-icon
{
    background-image: url("../img/user.svg");
    background-position: 270px center;
    background-repeat: no-repeat;
}

.password-icon
{
    background-image: url("../img/lock.svg");
    background-position: 270px center;
    background-repeat: no-repeat;
}

.user-login .login-help
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 15px 0;
}

.main-login-checkbox
{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

.main-login-checkbox:hover,
.main-login-checkbox:focus
{
    color: #663d15;
}

.main-login-checkbox input[type="checkbox"] + .checkbox-indicator
{
    position: absolute;
    top: 0;
    left: 0;

    width: 17px;
    height: 17px;

    border: 2px solid #000000;

}

.main-login-checkbox input[type="checkbox"]:focus + .checkbox-indicator

{
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}


.main-login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before,
.main-login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after
{
    content: "";

    position: absolute;
    top: 8px;
    left: 1px;
    width: 15px;
    height: 2px;
    background-color: black;

}

.main-login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before
{
    transform: rotate(45deg);
}

.main-login-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after
{
    transform: rotate(-45deg);
}


.user-login .button
{
    width: 100%;
    margin-right: 0;
}


.visuallity-hidden2:not(:focus):not(:active),
input[type="checkbox"].visuallity-hidden2,
input[type="radio"].visuallity-hidden2 {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.modax-close
{
    width: 22px;
    height: 22px;
    cursor: pointer;
    border: 0;
    font-size: 0;
    position: absolute;
    top: 0;
    right: -34px;
    background-color: transparent;
}

.modax-close::before,
.modax-close::after
{
    content: "";
    position: absolute;
    width: 19px;
    height: 3px;
    background-color: #d0d0d0;
    top: 10px;
    left: 2px;
}

.modax-close::before
{
    transform: rotate(45deg);
}

.modax-close::after
{
    transform: rotate(-45deg);
}

.map
{
    width: 766px;
    height: 561px;
    top: 50%;
    left: 50%;

    transform: translateX(-50%) translateY(-50%);
    /*margin-top: -280px;
    margin-left: -390px; */

    border: 7px solid white;
}

.map p
{
    margin: 0;
}

.other-body .header
{
    background-color: black;
    margin-bottom: 50px;
}

.other-body .navigation
{
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: row;
}

.other-body .header-logo
{
    width: 111px;
    height: 24px;
    padding: 23px 20px;
}

.other-body .user-navigation
{
    margin-left: auto;
}

.page-title
{
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
}

.breadcrubs-shop
{
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}

.filter-item
{
    width: 180px;
}

.product-cards-section
{
    width: 700px;
}

.filter-product
{
    display: flex;
    justify-content: space-between;
}

.product-cards
{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    margin-bottom: 25px;
}

.product-card
{
    margin: 0;
    padding: 0;
    list-style: none;
    width: 220px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #ffffff;
}

.product-card:nth-child(3n)
{
    margin-right: 0;
}

.page-item
{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.other-body .main-footer
{
margin-top: 45px;
}

.product-card p
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.filter-item ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.breadcrubs
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.gallary-item
{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;
    margin-bottom: 25px;
    width: 460px;
}


.gallary-item-preview
{
    margin: 0;
    padding: 0;
    list-style: none;
}

.gallary-desctiption
{
    display: flex;
    justify-content: space-between;
}

.desctiption-items
{
    width: 390px;
}